/* Helper Classes */
* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Comfortaa', cursive;
    background-image: url(../images/hardwood.jpg);
    background-size: auto;
    min-height: 100vh;
}

.display-3 {
  justify-content: center;
  display: flex;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
  
.header {
  background-color: darkgray;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  height: 400px;
  width: 100%;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  border-style: none;
}

h1 {
  line-height: 30px;
  margin-top: 0px;
}
  
.card {
    background-color: rgb(57, 62, 70, 0.7);
}

.card.small .card-image {
    max-height: 100%; 
}

.card-content {
  text-align: center;
}

#card-container {
  height: auto;
}

#gif-btn {
  padding: 0px;
}

.waves-effect {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #f96d00;
}

.row {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 80px;
}

.row .col.s12 {
  margin-left: 0px;
}

.row .col.m7 {
  margin-left: 0px;
}

li {
  list-style-type: none;
}

nav {
  background:rgba(255, 255, 255, 0);
}

.nav-wrapper{
  justify-content: space-evenly;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 500px;
  border-radius: 15px;
  justify-content: space-evenly;
  font-size: 35px;
  margin: 17px;
  flex: content;
  text-align: center;
  cursor: pointer;
  transition: all 0.5 ease-in;
  color: white;
}

#live-scores {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.column:hover{
  background: blue;
}

.row:after {
  content: none;
  display: table;
  clear: both;
}

/* Media Queries */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
